<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InTools.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <InTools.My.MySettings>
            <setting name="OpenCheck_InputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenCheck_OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenCheck_HashType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>InTools</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="PW" serializeAs="String">
                <value>intra_intra</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>INTRA-PDC00\INTRASQL</value>
            </setting>
            <setting name="Alibi_DstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Alibi_SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Alibi_LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Alibi_WorkName" serializeAs="String">
                <value />
            </setting>
            <setting name="Alibi_prtFrom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Alibi_prtTo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Disk_InputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Disk_OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Disk_DiskType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Disk_Formula" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Disk_OutExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="Disk_Parcentage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Disk_DiskSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Disk_InExtension" serializeAs="String">
                <value>*.tif,*.jpg,*.pdf</value>
            </setting>
            <setting name="Cnv_DPI" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnv_DstCompress" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnv_SelectJPEGQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cnv_Threshold" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Cnv_LF" serializeAs="String">
                <value />
            </setting>
            <setting name="Cnv_SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Cnv_SrcFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnv_DstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Cnv_DstFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Cnv_SelectBinDither" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cnv_JPEGQuality" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="Cnv_JPEGSize" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="LogChk_SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogChk_DstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BCRead_SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BCRead_DstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogChk_FileName_delimita" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ver_ScanLogChk" serializeAs="String">
                <value>0.0.2.5</value>
            </setting>
            <setting name="Ver_BCRead" serializeAs="String">
                <value>1.0.0.7</value>
            </setting>
            <setting name="Ver_Recovery" serializeAs="String">
                <value>0.0.0.0</value>
            </setting>
            <setting name="Ver_Rotate" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="Ver_Replace" serializeAs="String">
                <value>1.0.0.5</value>
            </setting>
            <setting name="Ver_Convert" serializeAs="String">
                <value>1.0.0.8</value>
            </setting>
            <setting name="Ver_Entry" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="Ver_Rename" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="Ver_Disk" serializeAs="String">
                <value>1.0.0.2</value>
            </setting>
            <setting name="Ver_OpenCheck" serializeAs="String">
                <value>1.0.1.7</value>
            </setting>
            <setting name="LogChk_FCCol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogChk_ICCol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogChk_PCCol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Rcv_Drive" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="Rcv_NetPath" serializeAs="String">
                <value>\\hydra\01_制作Gr</value>
            </setting>
            <setting name="OpenCheck_MojiCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BCRead_BCType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogChk_Drive" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="LogChk_NetPath" serializeAs="String">
                <value>\\hydra\01_制作Gr</value>
            </setting>
            <setting name="Cnv_Multi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ver_GetPath" serializeAs="String">
                <value>0.0.0.2</value>
            </setting>
            <setting name="GetPath_SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GetPath_DstPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GetPath_rbFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetPath_txtExt" serializeAs="String">
                <value />
            </setting>
            <setting name="GetPath_chkExt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetPath_chkFileSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetPath_MojiCode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GetPath_chkFileCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenCheck_nudMargin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GetPath_rbComma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GetPath_chkSkipEmpFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetPath_chkFindHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetPath_chkPathSplit" serializeAs="String">
                <value>False</value>
            </setting>
        </InTools.My.MySettings>
    </userSettings>
</configuration>